# Pertemuan 1


*   Basic Python

#Variable

Deklarasi nilai ke variabel

In [ ]:
# input "8" ke dalam variabel A
A = "8"
print("Output A: ", A , "\nType A: ", type(A))
B = int(A)
print("Output B: ", B)
print("Type B: ",type(B))

Output A:  8
Type A:  <class 'str'>
Output B:  8
Type B:  <class 'int'>

In [ ]:
# input nilai sebagai list
nilai = [70,80,90,100,85]
print(nilai)

[70, 80, 90, 100, 85]

In [ ]:
# mix type data in list
data = [80, 'A', 'John']
print(data)

[80, 'A', 'John']

# Conditional

Mengeksekusi nilai berdasarkan kondisi

In [ ]:
if 7 == A:
  print('Nilai 7 sama dengan nilai A yang mana adalah', A)
else:
  print('Nilai 7 tidak sama dengan nilai A yang mana adalah', A)

Nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [ ]:
if 70 in nilai:
  print('ada nilai 70 di dalam list')
else:
  print('tidak ada nilai di dalam list')

ada nilai 70 di dalam list

# Looping

Mengeksekusi nilai berdasarkan perulangan

In [ ]:
# looping 0-9
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

# Function

#User Define Function

Mendeklarasikan fungsi yang dibuat sendiri dengan awalan 

def nama_fungsi(parameter): 
    isi fungsi

In [ ]:
# fungsi yang mencetak suatu nilai
def cetak(A):
  print(A)

# pemanggilan fungsi cetak
cetak(10)

10

In [ ]:
# fungsi mengembalikan nilai yang telah dipangkatkan
def pangkatDua(x):
  return x ** 2

#Pencetakan serta pemanggilan fungsi
pangkatDua(5)

25

#Built-in Function

Memanggil fungsi bawaan dari python

In [ ]:
# memanggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

5
100

# Library

Sekumpulan kode yang memiliki fungsi-fungsi teretentu dan dapat dipanggil kedalam program lain

In [ ]:
# deklarasi library dengan fungsi yang ada didalamnya
import numpy as np

list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalarValue = 10

# operasi perkalian vector scalar
vtrScalar = vtr1 * scalarValue
print(vtrScalar)

[10 20 30 40 50]

In [ ]:
# deklarasi library dengan menggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns = ["nilai"])
df

   nilai
0     70
1     80
2     90
3    100
4     85

#Tugas Responsi 1 - Machine Learning

Nomer 1

In [2]:
import numpy

lst1 = [1,2,3,4,5]
lst2 = [2,4,6,8,10]

vtr1 = numpy.array(lst1)
vtr2 = numpy.array(lst2)

print(vtr1 * vtr2)

[ 2  8 18 32 50]

Nomer 2

In [14]:
import pandas

mhs = ['Andi', 'Budi', 'Caca', 'Didi']
scr = [7,6,10,8]
ket = []

for i in scr:
  if i < 7:
    ket.append('belum lulus')
  else:
    ket.append('lulus')


data = {  'mahasiswa' :  mhs,
          'nilai' : scr,
          'keterangan' : ket
}


df = pandas.DataFrame(data)
df

  mahasiswa  nilai   keterangan
0      Andi      7        lulus
1      Budi      6  belum lulus
2      Caca     10        lulus
3      Didi      8        lulus

Nomer 3

In [28]:
#make sure have run answer cell number 2

import pandas

ps = df['keterangan'].value_counts(normalize=True)
psFr = ps.apply(lambda x : '{:.2%}'.format(x))

dfPs = pandas.DataFrame({'nilai' : df['keterangan'].value_counts(), 'Persentase' : psFr})

print(df)
print(dfPs)

  mahasiswa  nilai   keterangan
0      Andi      7        lulus
1      Budi      6  belum lulus
2      Caca     10        lulus
3      Didi      8        lulus
             nilai Persentase
lulus            3     75.00%
belum lulus      1     25.00%